body {
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 4rem;
  background: #ffffff;
  min-height: 90vh;
}

.buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.buttons a button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #007acc;
  color: white;
}

.buttons a button:hover {
  background-color: #005fa3;
}



/* Mobile overrides */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }
  
  h2 {
    font-size: 1.25rem;
  }
  
  .buttons {
    display: grid;
    justify-items: center;
  }
  
  .buttons a button {
    font-size: large;
    width: 300px;
  }
}